<footer>
    <div class="footer-basic">
      <footer>
        <div class="logo">
        <a href="https://github.com/AndresCobar9" ><img src="/assets/GithubLogo.png" class="logo2" ></a>
        <a href="https://portal.ingenieria.usac.edu.gt/"><img src="https://imgs.search.brave.com/KO1zOxhfElRASXF5Z4v1F3K7eVMJzsZF65TwGYUIoWA/rs:fit:500:500:1/g:ce/aHR0cDovLzEuYnAu/YmxvZ3Nwb3QuY29t/L191WV8xZEtVMk1a/US9TOVQtdUh0dW5q/SS9BQUFBQUFBQUFF/Yy9nYlFUQWUtZTBy/ay9TMTYwMC1SL2Vz/Y3Vkb191c2FjX3Ry/YW5zcGFyZW50ZV93/ZWIucG5n" alt="" class="logo1"  ></a>
        </div> 
          <ul class="list-inline">
              
              
              <li class="list-inline-item"><a href="#">Informacion</a></li>
              <li class="list-inline-item"><a href="mailto:andrescobargt@gmail.com">Contactanos!</a></li>
              <li class="list-inline-item"><a href="https://github.com/AndresCobar9">Github</a></li>
          </ul>
          <p class="copyright">Andres Cobar © 2022</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </footer>
   